<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>





<div class="container" align="center">
	<div>
		<h2>SISTEMA DE LOCADORA</h2>
		<div th:insert="~{fragments/menu:: menu}">&copy; 2017 The Static
			Templates</div>
		<br />
		<div style="text-align: left;" th:each="m : ${msg}">

			<span class="row"
				style="color: green; font-size: 16; font-weight: bold;"
				th:text="${m}"> </span>
		</div>
		<div style="text-align: left;" th:each="m : ${messagensErro}">

			<span class="row"
				style="color: red; font-size: 16; font-weight: bold" th:text="${m}">
			</span>
		</div>
		<hr />

		

					<div class="container" style="width: 100%" align="center">

						<form action="salvarformapagamento" method="post"
							th:object="${formaPagamento}">

							<div class="row">
								<div class="form-group col-sm-12 col-md-12">
									<label class="control-label col-sm-2 text-right" for="id">Código
										da Forma de Pagamento:</label>
									<div class="col-sm-2">
										<input type="text" class="form-control" id="id"
											th:field="*{idFormaPagamento}" readonly="readonly" name="id" />
									</div>
								</div>

							</div>


							<div class="row">
								<div class="form-group col-sm-12 col-md-6">
									<label class="control-label col-sm-4 text-right" for="nome">Descrição:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="descricao"
											th:field="*{descricao}" placeholder="Entre com a Descrição" name="descricao" />
									</div>
								</div>

							</div>

							
							<button type="submit" class="btn btn-primary" style="align-content: left">Salvar</button>

						</form>
					</div>
				
						

					
	</div>


	<table class="table table-hover">
		<thead>
			<tr>
	
				<th>Código</th>
				<th>Descrição</th>
				<th></th>
			</tr>
		</thead>
		<tr th:each="fp : ${page.content}">
			<td th:text="${fp.idFormaPagamento}"></td>
			<td th:text="${fp.descricao}"></td>
			<td><a class="btn btn-success"
				th:href="@{/formapagamento/editarformapagamento/{idFormaPagamento}(idFormaPagamento=${fp.idFormaPagamento})}">
							Editar
				</a></td>	
	
		</tr>
	</table>

			<div class="center pagination">
			<span th:if="${page.hasPrevious()}" class="page-item"> <a
				th:href="@{/formapagamento/cadastroformapagamento(page=${page.number-1},size=${page.size})}"><span
					class="glyphicon glyphicon-backward"></span></a>
			</span>
			<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
				<span th:if="${page.number == i}" class="selected ">[[${i}+1]]</span>
				<span th:unless="${page.number == i}"> <a class="page-item"
					th:href="@{/formapagamento/cadastroformapagamento(page=${i},size=${page.size})}">[[${i}+1]]</a>
				</span>
			</th:block>
			<span th:if="${page.hasNext()}" class="page-item"> <a
				th:href="@{/formapagamento/cadastroformapagamento(page=${page.number+1},size=${page.size})}"><span
					class="glyphicon glyphicon-forward"></a>
			</span>
		</div>


<script>
	$(function() {
		$(".dropdown").hover(function() {
			$('.dropdown-menu', this).stop(true, true).fadeIn("fast");
			$(this).toggleClass('open');
			$('b', this).toggleClass("caret caret-up");
		}, function() {
			$('.dropdown-menu', this).stop(true, true).fadeOut("fast");
			$(this).toggleClass('open');
			$('b', this).toggleClass("caret caret-up");
		});
	});
</script>


</html>