<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
.autocomplete-suggestions {
	background: gray;
	border: 1px #ccc solid;
	z-index: 2;
}

.autocomplete-suggestion {
	border-top: 1px #ccc solid;
	padding: 4px;
}

.table>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th
	{
	background-color: #f2f2f2;
}
</style>

<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link th:href="@{/vendor/main.js}" type="text/javascript" />

<!-- JQuery -->
<script type="text/javascript" th:src="@{/auto/js/jquery-3.2.0.min.js}"></script>
<!--Import https://www.devbridge.com/sourcery/components/jquery-autocomplete/#-->
<script type="text/javascript"
	th:src="@{/auto/js/jquery.autocomplete.js}"></script>
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" th:src="@{/auto/js/materialize.min.js}"></script>

<!--Import materialize.css-->

<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">



</head>





<body>
	<div class="container">
		<div>
			<h1 align="left">Locadora Imperial</h1>
			<div th:insert="~{fragments/menu:: menu}">&copy; 2017 The
				Static Templates</div>

			<div style="text-align: left;" th:each="m : ${msg}">

				<span class="row" style="color: green; font-size: 20" th:text="${m}">
				</span>
			</div>
			<br />
			<div style="text-align: left;" th:each="m : ${messagensErro}">

				<span class="row"
					style="color: red; font-size: 16; font-weight: bold" th:text="${m}">
				</span>
			</div>
			<hr />

		</div>

		<div class="row">
			<button type="button" class="btn btn-primary btn-modal"
				data-href="entrarpesquisa" data-target="#buscarClienteModal"
				data-toggle="modal">Pesquisar Cliente</button>

			<button type="button" class="btn btn-success btn-modal"
				data-href="resumo" data-target="#resumoModal" data-toggle="modal">Finalizar
				Locacão</button>

			<a href="novaLocacao" class="btn btn-warning">Nova Locacão</a>

		</div>

		<hr />
		<br />


		<table class="table table-hover">
			<thead>
				<th>Código cliente</th>
				<th>Cliente</th>
			</thead>

			<tbody>
				<tr th:each="c: ${cliente}">
					<td style="font-weight: bold;" th:text="${c.id}"></td>
					<td style="font-weight: bold;" th:text="${c.nome}"></td>
				</tr>
			</tbody>
		</table>


		<div class="panel panel panel-default" align="center">
			<div class="panel-body">
				<div class="row">
					<div class="col s12">
						<form action="locacao/buscar" method="post">
							<div class="row">
								<div class="col-sm-12">
									<div class="input-field col s12" align="left">
										<i class="material-icons prefix"></i> <input type="text"
											size="100px" id="autocomplete-input" class="autocomplete"
											name="nome" />
										<button type="submit" class="btn btn-success">Adicionar
											à locação</button>
									</div>
								</div>





							</div>
						</form>
					</div>
				</div>
			</div>

		</div>





		<div class="panel panel panel-default">

			<div class="panel-body">
				<table class="table table-hover">
					<thead class="fa fa-cog">
						<tr>
							<th>Identificador</th>
							<th>Código</th>
							<th>Titulo Nacional</th>
							<th>Direção</th>
							<th>Tipo Mídia</th>
							<th>Lançamento</th>
							<th>Valor de Locação</th>

							<th></th>


						</tr>
					</thead>

					<tr th:each="f : ${filmes}">
						<td style="font-weight: bold" th:text="${f.idFilme}"></td>
						<td style="font-weight: bold" th:text="${f.numeroSerie}"></td>
						<td style="font-weight: bold" th:text="${f.tituloPortugues}"></td>
						<td style="font-weight: bold" th:text="${f.direcao}"></td>

						<td style="font-weight: bold" th:text="${f.tipoMidia.descricao}"></td>
						<td style="font-weight: bold; color: red;"
							th:text="${f.lancamento}"></td>
						<td style="font-weight: bold" th:text="${f.valor.valor}"></td>

						<td>
						<td><a
							th:href="@{/locacao/removerFilmeLocacao/{idFilme}(idFilme=${f.idFilme})}"
							class="btn btn-danger"> Remover</a></td>
				</table>
			</div>


		</div>

		<div align="right">
			<span style="font-weight: bold; font-size: 50px"> Valor da
				Locação: R$<span style="font-weight: bold; font-size: 50px"
				th:text="${valorLocacao}"></span>
		</div>

	</div>

	<div class="modal fade " id="buscarClienteModal" tabindex="-1"
		role="dialog" aria-labelledby="buscarClienteModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">Carregando Dados....</div>
			</div>
		</div>

	</div>

	<div class="modal fade " id="resumoModal" tabindex="-1" role="dialog"
		aria-labelledby="resumoModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="font-weight: bold; color: red;">
					Carregando...
				</div>
				
			</div>

		</div>
</body>


<script>
	$(document).ready(function() {
		$('#autocomplete-input').autocomplete({
			serviceUrl : '/locacao/suggestion',
			paramName : 'searchstr',
			minChars : 4,
			autoSelectFirst : true,
		});
	});
</script>

<script>
	$(function() {

		$(document).ready(function() {
			$('#autocomplete-input').devbridgeAutocomplete({
				serviceUrl : '/locacao/suggestion',
				paramName : 'searchstr',
				minChars : 1,
				autoSelectFirst : true,
			});
		});

		$(".btn-modal").click(function() {
			var link = $(this).attr('data-href');
			var modal = $(this).attr('data-target');
			$(modal).delay(50).queue(function() {
				$(this).load(link).dequeue();

			});
		});

		$(document).on("click", ".btn-pesquisar", function() {

			var pesquisa = $(".pesquisa_nome").val();
			console.log(pesquisa);
			$.ajax({
				url : "listarclientes",
				type : "GET",
				data : {
					pesquisa : pesquisa
				},

				success : function(data) {
					$("#tabelaCliente").html(data)
				}
			})
		});

	});
</script>






</html>