
<tr th:each="m:${msg}">
	<td style="color: red; font-weight: bold;" colspan="5" th:text="${m}"></td>
</tr>
<tr th:each="cliente : ${clientes}">
	<td><span style="font-weight: bold;" th:text="${cliente.id}"></span></td>
	<td><span style="font-weight: bold;" th:text="${cliente.nome}"></span></td>
	<td><span style="font-weight: bold;" th:text="${cliente.email}"></span></td>
	<td><span style="font-weight: bold;" th:text="${cliente.cpf}"></span></td>
	<td><a
		th:href="@{/locacao/buscarClienteLocacao/{idcliente}(idcliente=${cliente.id})}"><span
			class="btn btn-primary">Selecionar Cliente</span></a></td>
			

</tr>





