<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>





<div class="container" align="center">
	<div>
		<h2>SISTEMA DE LOCADORA</h2>
		<div th:insert="~{fragments/menu:: menu}">&copy; 2017 The Static
			Templates</div>
			<br/>
			<div style="text-align: left;" th:each="m : ${msg}">

				<span class="row" style="color: green; font-size: 16; font-weight: bold;" th:text="${m}">
				</span>
			</div>
			<div style="text-align: left;" th:each="m : ${messagensErro}">

				<span class="row" style="color: red; font-size: 16; font-weight: bold" th:text="${m}">
				</span>
			</div>
			<hr/>


		<div class="panel-group" style="width: 80%" align="left">

			<div class="panel panel-default">
				<div class="panel-heading">Cadastro de Fornecedores</div>
				<div class="panel-body">

					<div class="container" style="width: 100%" align="center">

						<form action="salvarfornecedor" method="post"
							th:object="${fornecedor}">

							<div class="row">
								<div class="form-group col-sm-12 col-md-12">
									<label class="control-label col-sm-2 text-right" for="id">Código
										do Fornecedor:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="id"
											th:field="*{id}" readonly="readonly" name="id" />
									</div>
								</div>

							</div>


							<div class="row">
								<div class="form-group col-sm-12 col-md-6">
									<label class="control-label col-sm-4 text-right" for="nome">CNPJ:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="cnpj"
											th:field="*{cnpj}" placeholder="Entre com o CNPJ" name="cnpj" />
									</div>
								</div>



								<div class="form-group col-sm-12 col-md-6">
									<label class="control-label col-sm-4 text-right"
										for="razao_social">Razão Social:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="razaosocial"
											th:field="*{razaosocial}"
											placeholder="Entre com a Razão Social" name="razaosocial" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-sm-12 col-md-6">
									<label class="control-label col-sm-4 text-right" for="telefone">Telefone:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="telefone"
											th:field="*{telefone}" placeholder="Entre com o Telefone"
											name="telefone" />
									</div>
								</div>


								<div class="form-group col-sm-12 col-md-6">
									<label class="control-label col-sm-4 text-right"
										for="pessoa_contato">Pessoa de Contato:</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="pessoacontato"
											th:field="*{pessoacontato}"
											placeholder="Entre com a Pessoa de Contato"
											name="pessoacontato" />
									</div>
								</div>

							</div>

							<div class="row">
								<div class="form-group col-sm-12 col-md-12">
									<label class="control-label col-sm-2 text-right" for="endereco">Endereço:</label>
									<div class="col-sm-10">
										<textarea id="endereco" th:field="*{endereco}" name="endereco"
											class="form-control" rows="2"></textarea>
									</div>
								</div>
							</div>


							<div>
								<button type="submit" class="btn btn-primary">Salvar</button>
								<button type="submit" class="btn btn-primary">Listar
									Fornecedores</button>
							</div>

						</form>
					</div>

				</div>

			</div>




		</div>

	</div>

	<div class="row">
		<form action="pesquisarfornecedor" method="post" class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<label for="nomepesquisa" class="active">Pesquia por Razão
						Social:</label> <input name="nomepesquisa" id="nomepesquisa" /> <input
						class="btn btn-primary" type="submit" value="Buscar" />

				</div>
			</div>
		</form>
	</div>


</div>

<table class="table table-hover">
	<thead>
		<tr>

			<th>Razão Social</th>
			<th>CNPJ</th>
			<th>Telefone</th>
			<th>Pessoa Contato</th>
			<th></th>
		</tr>
	</thead>
	<tr th:each="f : ${fornecedores}">
		<td th:text="${f.razaosocial}"></td>
		<td th:text="${f.cnpj}"></td>
		<td th:text="${f.telefone}"></td>
		<td th:text="${f.pessoacontato}"></td>
		<td><a
			th:href="@{/fornecedor/editarfornecedor/{idfornecedor}(idfornecedor=${f.id})}"><span
				class="glyphicon glyphicon-pencil"></span></a></td>
		<td><a
			th:href="@{/fornecedor/removerfornecedor/{idfornecedor}(idfornecedor=${f.id})}">
				<span class="glyphicon glyphicon-trash" />
		</a></td>


	</tr>
</table>




<script>
	$(function() {
		$(".dropdown").hover(function() {
			$('.dropdown-menu', this).stop(true, true).fadeIn("fast");
			$(this).toggleClass('open');
			$('b', this).toggleClass("caret caret-up");
		}, function() {
			$('.dropdown-menu', this).stop(true, true).fadeOut("fast");
			$(this).toggleClass('open');
			$('b', this).toggleClass("caret caret-up");
		});
	});
</script>


</html>