<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />



<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
<style>
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
</style>
</head>
<body>


	<div class="container" align="center">

		<h2>SISTEMA DE LOCADORA</h2>
		<div th:insert="~{fragments/menu:: menu}">&copy; 2017 The Static
			Templates</div>
		<br />


		<div align="left">
			<a href="cadastrofornecedor" class="btn btn-primary">Cadastrar
				Forncedor</a>
		</div>

		<div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col m12 s12 l6">

						<input id="icon_prefix" type="text" class="validate"> <label
							for="icon_prefix">Informe o nome</label>
					</div>
				</div>
			</form>
		</div>


		<br />
		<table class="table table-hover">

			<thead class="thead-dark">
				<tr>
					<th>Código</th>
					<th>Razão Social</th>
					<th>Telefone</th>
					<th>Endereço</th>
					<th></th>
					<th></th>

				</tr>
			</thead>

			<tr th:each="f : ${page.content}">
				<td th:text="${f.id}"></td>
				<td th:text="${f.razaosocial}"></td>
				<td th:text="${f.telefone}"></td>
				<td th:text="${f.endereco}"></td>
				<td><a
					th:href="@{/fornecedor/editarfornecedor/{idfornecedor}(idfornecedor=${f.id})}" class="btn btn-success">
						<span> Editar</span>
				</a></td>

				<td><a
					th:href="@{/fornecedor/editarfornecedor/{idfornecedor}(idfornecedor=${f.id})}" class="btn btn-primary">
						<span>Visualizar</span>
				</a></td>


			</tr>
		</table>

		<div class="center pagination">
			<span th:if="${page.hasPrevious()}" class="page-item"> <a
				th:href="@{/fornecedor/listarfornecedor(page=${page.number-1},size=${page.size})}"><span
					class="glyphicon glyphicon-backward"></span></a>
			</span>
			<th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
				<span th:if="${page.number == i}" class="selected ">[[${i}+1]]</span>
				<span th:unless="${page.number == i}"> <a class="page-item"
					th:href="@{/fornecedor/listarfornecedor(page=${i},size=${page.size})}">[[${i}+1]]</a>
				</span>
			</th:block>
			<span th:if="${page.hasNext()}" class="page-item"> <a
				th:href="@{/fornecedor/listarfornecedor(page=${page.number+1},size=${page.size})}"><span
					class="glyphicon glyphicon-forward"></a>
			</span>
		</div>
	</div>





	<script>
		$(document).ready(function() {
			$("#myBtn").click(function() {
				$("#myModal").modal();
			});
		});
	</script>
</body>