<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link th:href="@{/vendor/main.js}" type="text/javascript" />
</head>





<body>
	<div class="container" align="center">
		<div>
			<h1 align="left">Locadora Imperial</h1>
			<div th:insert="~{fragments/menu:: menu}">&copy; 2017 The
				Static Templates</div>

			<div style="text-align: left;" th:each="m : ${msg}">

				<span class="row" style="color: green; font-size: 20" th:text="${m}">
				</span>
			</div>
			<br />
			<div style="text-align: left;" th:each="m : ${messagensErro}">

				<span class="row"
					style="color: red; font-size: 16; font-weight: bold" th:text="${m}">
				</span>
			</div>
			<hr />

		</div>

		<div class="panel panel panel-default">
			<div class="panel-heading" align="left">
				<h3 class="panel-title">Cadastro de Filmes</h3>

			</div>
			<div class="panel-body">
				<form id="formFilme" th:action="salvarfilme" method="post"
					>

					

					<div class="row">
						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="nserie">Número
								Série:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="nserie"
									 placeholder="Entre com o nome"
									name="numeroSerie" />
							</div>
						</div>



						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="tnacional">Título
								Nacional</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="tnacional"
									name="tituloPortugues"
									placeholder="Enter com Título Nacional" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="toriginal">Título
								Original:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="toriginal"
									 placeholder="Entre com o nome"
									name="toriginal" />
							</div>
						</div>

						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="elenco">Elenco</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="elenco"
									name="elenco" 
									placeholder="Enter com elenco" />
							</div>
						</div>
					</div>

					<div class="row"></div>

					<div class="row">
						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="pais">País:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="pais"
									 placeholder="Entre com pais" name="pais" />
							</div>
						</div>



						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="ano">Ano</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="ano" name="ano"
									 placeholder="Entre com o ano" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="direcao">Direção:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="direcao"
									 placeholder="Entre com a direção"
									name="direcao" />
							</div>
						</div>

						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="duracao">Duração</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="duracao"
									 name="duracao"
									placeholder="Entre com o duracao" />
							</div>
						</div>


					</div>


					<div class="row">
						<div class="form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right"
								for="dataaquisicao">Data Aquisição:</label>
							<div class="col-sm-8">
								<input type="date" class="form-control" id="dataaquisicao"
									placeholder="Entre com a data aquição" name="dataaquisicao" />
							</div>
						</div>

						<div class="form-group form-group form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="funcao">Genero:</label>
							<div class="col-sm-8">
								<select class="form-control" id="genero" name="genero">
									<option value="genero.idGenero">Selecione a função</option>
									<option th:each="genero : ${generos}" th:value="${genero.idGenero}"
										th:text="${genero.idGenero}+' --- '+${genero.descricao}"></option>
								</select>
							</div>

						</div>


					</div>

					<div class="row">

						<div class="form-group form-group form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="funcao">Fornecedor:</label>
							<div class="col-sm-8">
								<select class="form-control" id="fornecedor" name="fornecedor">
									<option value="fornecedor.id">Selecione o Fornecedor</option>
									<option selected="selected"
										th:each="fornecedor : ${fornecedores}"
										th:value="${fornecedor.id}"
										th:text="${fornecedor.id}+' --- '+${fornecedor.razaosocial}"></option>
								</select>
							</div>

						</div>




						<div class="  form-group form-group form-group col-sm-12 col-md-6">
							<label class="control-label col-sm-4 text-right" for="midia">Tipo
								Mídia:</label>
							<div class="col-sm-8 ">
								<select  class="form-control custom-select" id="midia"
									name="midia">
									<option  value="tipoMidia.idTipoMidia">Selecione o tipo
										de Mídia</option>
									<option  th:each="tipo : ${tipoMidia}"
										th:value="${tipo.idTipoMidia}"
										th:text="${tipo.idTipoMidia}+' : '+${tipo.descricao}"></option>
								</select>
							</div>

						</div>




					</div>

					

					<div class="row">
						<div class="form-group col-sm-12 col-md-12">
							<label class="control-label col-sm-2 text-right" for="sinopse">Sinopse::</label>
							<div class="col-sm-10">
								<textarea id="sinopse" name="sinopse" class="form-control"
									 rows="2"></textarea>
							</div>
						</div>
					</div>

					<button type="submit" class="btn btn-primary ">Salvar</button>



				</form>
			</div>


		</div>


		<table class="table table-striped table-bordered table-list">

			<thead class="fa fa-cog">
				<tr>
					<th>Identificador</th>
					<th>Código</th>
					<th>Titulo Nacional</th>
					<th>Direção</th>
					<th>Duração</th>
					<th></th>
					<th></th>


				</tr>
			</thead>

			<tr th:each="f : ${page.content}">
				<td th:text="${f.idFilme}"></td>
				<td th:text="${f.numeroSerie}"></td>
				<td th:text="${f.tituloPortugues}"></td>
				<td th:text="${f.direcao}"></td>
				<td th:text="${f.duracao}"></td>
				
				<td>
				
					<button
							th:data-href="@{/filme/editarfilme/{idFilme}(idFilme=${f.idFilme})}"
							type="button" class="btn-modal btn-success" data-toggle="modal"
							data-target="#editFilmeModal" data-whatever="@getbootstrap">Editar
					</button>
				<td>
					<button
						th:data-href="@{/filme/modal/{idFilme}(idFilme=${f.idFilme})}"
						type="button" class="btn-modal btn-success" data-toggle="modal"
						data-target="#exampleModal" data-whatever="@getbootstrap">Ver
						Detalhes</button>
				</td>
			</tr>
		</table>

		<div class=" pagination">
			<ul class="pagination" style="background-color: white;">
				<li class="page-item"><span th:if="${page.hasPrevious()}"
					class="page-item"> <a
						th:href="@{/filme/cadastrofilme(page=${page.number-1},size=${page.size})}"><span
							class="glyphicon glyphicon-backward"></span></a>
				</span></li>

				<li class="page-item"><th:block
						th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
						<span th:if="${page.number == i}" class="selected ">[[${i}+1]]</span>
						<span th:unless="${page.number == i}"> <a class="page-item"
							th:href="@{/filme/cadastrofilme(page=${i},size=${page.size})}">[[${i}+1]]</a>
						</span>
					</th:block></li>

				<li class="page-item"><span th:if="${page.hasNext()}"
					class="page-item"> <a
						th:href="@{/filme/cadastrofilme(page=${page.number+1},size=${page.size})}"><span
							class="glyphicon glyphicon-forward"></a>
				</span></li>
			</ul>



		</div>

		<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">Carregando Dados....</div>
				</div>
			</div>

		</div>
		
		<div class="modal fade " id="editFilmeModal" tabindex="-1" role="dialog"
			aria-labelledby="editFilmeModal" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">Carregando Dados....</div>
				</div>
			</div>

		</div>


		<script>
			('#exampleModal').on('show.bs.modal', function(event) {
				var button = $(event.relatedTarget) // Button that triggered the modal
				var recipient = button.data('whatever') // Extract info from data-* attributes
				// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
				// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
				var modal = $(this)
				modal.find('.modal-title').text('New message to ' + recipient)
				modal.find('.modal-body input').val(recipient)
			})
		</script>
		
		




		<script>
			$(document).ready(function() {
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
		<script>
			$(function() {

				
				$(".btn-modal").click(function() {
					var link = $(this).attr('data-href');
					var modal = $(this).attr('data-target');
					$(modal).delay(50).queue(function() {
						$(this).load(link).dequeue();

					});
				});

				$(".dropdown").hover(function() {
					$('.dropdown-menu', this).stop(true, true).fadeIn("fast");
					$(this).toggleClass('open');
					$('b', this).toggleClass("caret caret-up");
				}, function() {
					$('.dropdown-menu', this).stop(true, true).fadeOut("fast");
					$(this).toggleClass('open');
					$('b', this).toggleClass("caret caret-up");
				});
			});
		</script>

		<script>
			
		</script>
</body>








</html>